<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @comment.event %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<p>
  <strong>Is private:</strong>
  <%= @comment.is_private %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
