<h1 class="blog-post-title"><%= @user.username %>'s upcoming hosted events</h1>

<% @user.events.each do |event| %>
<!--   <div class="col-xs-6 col-lg-4 col-md-offset-2">
 -->  <% if event.time_start.future? %>
    <h3><%= link_to "#{event.name}", event_path(event.id) %></h3>
    <p class="blog-post-meta"><%= event.time_start.strftime("%H:%M %d %b. %Y") %></p>
    <% if event.rsvps.where(confirmed: true).length >= event.max_size %>
    <span class="label label-danger">Full!</span>
    <% end %>
    <p><%= event.description %></p>
  <% end %>
  <!-- </div> -->
<% end %>
</br>
  <h2 class="blog-post-title">Events they've hosted</h2>
  <% @user.events.each do |event| %>
<!--   <div class="col-xs-6 col-lg-4 col-md-offset-2">
 -->  <% if event.time_start.past? %>
    <h3><%= link_to "#{event.name}", event_path(event.id) %></h3>
  <p class="blog-post-meta"><%= event.time_start.strftime("%H:%M %d %b. %Y") %></p>
  <p><%= event.description %></p>
  <% end %>
<!-- </div> -->
<% end %>