<p id="notice"><%= notice %></p>


</br>

<% if user_signed_in? && current_user.id == @user.id%>

<%= render "private_profile" %>

<% else %>

<%= render "public_profile"%>

<% end %>
</br>




<% if user_signed_in? && current_user.id == @user.id%>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
