<p id="notice"><%= notice %></p>


</br>

<% if user_signed_in? && current_user.id == @user.id%>

<%= render "private_profile" %>

<% else %>

<%= render "public_profile"%>


<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @ratings.average(:rating) %>
</p>

<%= link_to 'Rating', new_user_rating_path(@user, @rating) %>
<%= link_to 'Edit', edit_user_path(@user) %> |

<h4>Past events</h4>

<% @user.events.each do |event| %>
  <% if event.time_start.past? %>
    <strong><%= link_to "#{event.name}", event_path(event.id) %></strong>
    </br>
  <% end %>
<% end %>
<% end %>

</br>




<% if user_signed_in? && current_user.id == @user.id%>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>
