<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<table>
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Max size</th>
      <th>Host</th>
      <th>Public location</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Date start</th>
      <th>Time start</th>
      <th>Date end</th>
      <th>Time end</th>
      <th>Status</th>
      <th>Approval required</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.category %></td>
        <td><%= event.max_size %></td>
        <td><%= event.host.username %></td>
        <td><%= event.public_location %></td>
        <td><%= event.address_line_1 %></td>
        <td><%= event.address_line_2 %></td>
        <td><%= event.city %></td>
        <td><%= event.state %></td>
        <td><%= event.zip %></td>
        <td><%= event.time_start.strftime('%b %-e, %Y') %></td>
        <td><%= event.time_start.strftime('%-l:%M %p') %></td>
        <td><%= event.time_end.strftime('%b %-e, %Y') %></td>
        <td><%= event.time_end.strftime('%-l:%M %p') %></td>
        <td><%= event.status %></td>
        <td><%= event.approval_required %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
