<p id="notice"><%= notice %></p>

<%= link_to 'New Event', new_event_path %>

<h1>Upcoming events</h1>

<table>
  <thead>
    <tr>
      <th>Title (spots left)</th>
      <th>Category</th>
      <th>Host</th>
      <th>Public location</th>
      <th>City</th>
      <th>Date start</th>
      <th>Time start</th>
      <th>Status pending</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to "#{event.name}", event_path(event.id) %><span class="badge"><%= event.max_size - event.current_count %></span></td>
        <td><%= event.category %></td>
        <td><%= event.host.username %></td>
        <td><%= event.public_location %></td>
        <td><%= event.city %></td>
        <td><%= event.time_start.strftime('%b %-e') %></td>
        <td><%= event.time_start.strftime('%-l:%M %p') %></td>

        <% if user_signed_in? && current_user.id != event.host_id %>
          <% if !Rsvp.find_by(event_id: event.id, guest_id: current_user.id) && event.approval_required == false %>
            <td><%= button_to 'Join', controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: event.id, pending: false, confirmed: true} %></td>
            <td>
          <% elsif !Rsvp.find_by(event_id: event.id, guest_id: current_user.id) && event.approval_required == true %>
            <td><%= button_to 'Send Request', controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: event.id, pending: true, confirmed: false} %></td>
            <td>
          <% elsif Rsvp.find_by(event_id: event.id, guest_id: current_user.id) && event.approval_required == false || (event.approval_required == true && Rsvp.find_by(event_id: event.id, guest_id: current_user.id).confirmed == true)%>
            <td><%= button_to 'Unjoin', {controller: "rsvps", action: "destroy", id: Rsvp.find_by(event_id: event.id, guest_id: current_user.id).id}, method: :delete %></td>
            <td>
          <% elsif Rsvp.find_by(event_id: event.id, guest_id: current_user.id) && event.approval_required == true%>
            <td><%= button_to 'Cancel Request', {controller: "rsvps", action: "destroy", id: Rsvp.find_by(event_id: event.id, guest_id: current_user.id).id}, method: :delete %></td>
            <td>
          <% end %>
        <% end %>

        <% if user_signed_in? && Rsvp.find_by(event_id: event.id, guest_id: current_user.id, pending: true)%>
        <td><%= "Request pending" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
