<div id="filterrific_results">

  <div>
    <%= page_entries_info events  %>
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Created at</th>
    </tr>
    <% events.each do |event| %>
      <tr>
        <td><%= link_to(event.name, event_path(event.id)) %></td>
        <td><%= event.public_location %></td>
        <td><%= event.decorated_created_at %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate events %>