<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<% if user_signed_in? && @event.host_id == current_user.id && @event.approval_required == true%>
<p>
  <strong># of Pending Requests:</strong>
  <%= @event.rsvps.where(pending: true).length %>
</p>

<p>
  <strong>Pending Requests:</strong>
  <% @event.rsvps.where(pending: true).each do |request| %>
    <br />
    <%= link_to image_tag(User.find(request.guest_id).gravatar_url(size: 30)), user_path(User.find(request.guest_id)) %>
    <br />
    <%= link_to "#{User.find(request.guest_id).username}", User.find(request.guest_id) %>
    <br />
    <%= button_to 'Accept Request to Join', {controller: "rsvps", action: "update", id: request.id, rsvp: {guest_id: request.guest_id, event_id: request.event_id, pending: false, confirmed: true}}, method: :put %>
  <% end %>
</p>

<% end %>

<p>
  <strong>Current / Max</strong>
  <br />
  <%= @event.rsvps.where(confirmed: true).length %> / <%= @event.max_size %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.username %>
</p>

<p>
  <strong>Rating:</strong>
  <%= Rating.where(ratee_id: @event.host.id).average(:rating).to_f %>
</p>

<p>
  <strong>Public location:</strong>
  <%= @event.public_location %>
</p>

<% if user_signed_in? && @event.host_id == current_user.id %>

  <p>
    <strong>Address line 1:</strong>
    <%= @event.address_line_1 %>
  </p>

  <p>
    <strong>Address line 2:</strong>
    <%= @event.address_line_2 %>
  </p>

<% end %>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @event.time_start.strftime('%b %-e, %Y') %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @event.time_start.strftime('%-l:%M %p') %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @event.time_end.strftime('%b %-e, %Y') %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @event.time_end.strftime('%-l:%M %p') %>
</p>

<p>
  <strong>Status:</strong>
  <% if @event.status %>
    <%= "Open" %>
  <% else %>
    <%= "Closed" %>
  <% end %>
</p>

<p>
  <strong>Approval required:</strong>
  <%= @event.approval_required %>
</p>

<% if user_signed_in? && @event.host.id == current_user.id %>
  <%= link_to 'Edit Event', edit_event_path(@event) %>
  <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', events_path %>

<% if user_signed_in? && @event.host.id == current_user.id && @event.status == true%>

  <h2>Attendees</h2>
  <% @event.guests.each do |guest| %>
    <br />
    <%= link_to image_tag(guest.gravatar_url(size: 30)), user_path(guest.id) %>
    <br />
    <%= guest.username %>
    <br />
    <%= Rating.where(ratee_id: guest.id).average(:rating).to_f %>
    <br />
  <% end %>
<% end %>

<% if @event.host.id == current_user.id && @event.status == false%>

  <h2>People Attended</h2>
  <% @event.guests.each do |guest| %>
    <%= link_to image_tag(guest.gravatar_url(size: 30)), user_path(guest.id) %>
    <br />
    <%= guest.username %>
    <%= render partial: 'ratings/form', locals: {ratee_id: guest.id} %>
  <% end %>
<% end %>

<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.user.username %>
  </p>
  <p>
    <b>Comment:</b>
    <%= comment.body %>
    <br></br>
  </p>

    <% if comment.user == current_user %>
  <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <p><%= link_to 'Edit', edit_comment_path(comment) %></p>
  <br></br>
    <% end %>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<!--
@event.guests.each do guest
if guest.id == current_user.id -->

<!--  if @event.guests.each do |guest|
   if guest.id || host.guest.id == current_user.id  -->