<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Max size:</strong>
  <%= @event.max_size %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host %>
</p>

<p>
  <strong>Public location:</strong>
  <%= @event.public_location %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @event.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @event.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @event.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @event.time_end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Approval required:</strong>
  <%= @event.approval_required %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
