<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Max size:</strong>
  <%= @event.max_size %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.username %>
</p>

<p>
  <strong>Public location:</strong>
  <%= @event.public_location %>
</p>

<p>
  <strong>Address line 1:</strong>
  <%= @event.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @event.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @event.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @event.time_start.strftime('%b %-e, %Y') %>
</p>

<p>
  <strong>Time start:</strong>
  <%= @event.time_start.strftime('%-l:%M %p') %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @event.time_end.strftime('%b %-e, %Y') %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @event.time_end.strftime('%-l:%M %p') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event.status %>
</p>

<p>
  <strong>Approval required:</strong>
  <%= @event.approval_required %>
</p>


<h2>Comments</h2>
<% @event.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= comment.user.username %>
  </p>

  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
  <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <p><%= link_to 'Update', comment_path(comment), method: :update, data: { confirm: 'Are you sure?' } %></p>
<% end %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
