
<!DOCTYPE html>
<html>
<head>
  <title>Clutch</title>
  <% favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<section class="events_show">

<% if user_signed_in?%>

<p id="notice"><%= notice %></p>

    <div class="container" id="sidebarEvent">

<!--       <div class="blog-header">
        <h1 class="blog-title"><%= @event.name %></h1>
        <p class="lead blog-description"><%= @event.public_location %></p>
      </div> -->

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title"><%= @event.name %></h2>
            <p class="lead blog-description"><%= @event.public_location %></p>

            <p class="blog-post-meta"><%= @event.time_start.strftime('%b %-e, %Y') %> by <%= @event.host.first_name + " " + @event.host.last_name %></p>
            <p><%= @event.description %></p>
            <hr>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Category</h3>
    </div>
    <div class="comments_body">
      <%= @event.category %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Starts at:</h3>
    </div>
    <div class="comments_body" >
      <%= @event.time_start.strftime('%-l:%M %p') %> <%= @event.time_start.strftime('%b %-e, %Y') %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Ends at:</h3>
    </div>
    <div class="comments_body">
      <%= @event.time_end.strftime('%-l:%M %p') %> <%= @event.time_end.strftime('%b %-e, %Y') %>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Remaining spots:</h3>
    </div>
    <div class="comments_body">
      <% if @event.rsvps.where(confirmed: true).length >= @event.max_size %>
        <span class="label label-danger">Full!</span>
      <% else %>
        <%= @event.max_size - @event.rsvps.where(confirmed: true).length %>
      <% end %>
      <br><br>
      <p>
      Max: <%= @event.max_size %>
    </p>
    </div>
  </div>
<% if @event.host_id == current_user.id || Rsvp.find_by(event_id: @event.id, guest_id: current_user.id, confirmed: true) %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Location information</h3>
    </div>
    <div class="comments_body">
      <%= @event.address_line_1 %>
    </br>
      <%= @event.address_line_2 %>
    </br>
      <%= @event.city %>, <%= @event.state %> <%= @event.zip %>
    </div>
    <div class="footer-panel">Private: Visible only to guests of this event</div>
  </div>
<!-- </div> -->
<% end %>
</div><!-- /.blog-main -->
<section class="host-attendees">
          <div>
                <%= link_to image_tag(User.find(@event.host_id).gravatar_url), user_path(User.find(@event.host_id)), class: "img-circle", width: "140", height: "140" %>
                  <h4><%= @event.host.username %>'s <i class="fa fa-star-o fa-2x"></i>
                 : <%= Rating.where(ratee_id: @event.host.id).average(:rating).to_f.round(2) %></h4>
          </div>
          <!-- <div class="sidebar-modsiule"> -->
            <% if @event.host_id == current_user.id && @event.approval_required == true%>
              <h4>Pending Requests<span class="badge"><%= @event.rsvps.where(pending: true).length %></span>
              </h4>
              <% @event.rsvps.where(pending: true).each do |request| %>
                <%= link_to image_tag(User.find(request.guest_id).gravatar_url(size: 30)), user_path(User.find(request.guest_id)) %>
                  <%= link_to "#{User.find(request.guest_id).username}", User.find(request.guest_id) %><span class="label label-warning"><%= link_to 'Confirm', {controller: "rsvps", action: "update", id: request.id, rsvp: {guest_id: request.guest_id, event_id: request.event_id, pending: false, confirmed: true}}, method: :put %></span>
              <% end %>
            <% end %>
         <!--  </div> -->

          <div>
            <% if @event.host.id == current_user.id %>
            <h4>Host dashboard</h4>=

            <%= link_to 'Edit Event', edit_event_path(@event.id), class: "btn btn-warning" %>
            <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
            <%#= link_to 'Back', events_path, class: "btn btn-primary" %>
          </div>
          <div>
            <h4>Attendees</h4>
            <% @event.guests.each do |guest| %>
              <% if Rsvp.find_by(event_id: @event.id, guest_id: guest.id, confirmed: true) %>
                <br />
              <%= link_to image_tag(guest.gravatar_url(size: 30)), user_path(guest.id) %>
                <br />
              <%= guest.username %>
                <br />
                <i class="fa fa-star-o fa-2x"></i>
                <p id = "rating_number">
                <%= Rating.where(ratee_id: guest.id).average(:rating).to_f.round(2) %>
              </p>

              <br />
              <% end %>
            <% end %>

          </div>
</section>

<div id='rsvp-button'>


<% if current_user.id != @event.host_id && @event.time_end.past? == false%>

  <% if !Rsvp.find_by(event_id: @event.id, guest_id: current_user.id) && @event.approval_required == false %>
    <td><%= button_to 'Join', {controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: @event.id, pending: false, confirmed: true}}, {class: "btn btn-success", id: "submit-rsvp"} %></td>
  <% elsif !Rsvp.find_by(event_id: @event.id, guest_id: current_user.id) && @event.approval_required == true %>
    <td><%= button_to 'Send Request', {controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: @event.id, pending: true, confirmed: false}}, {class: "btn btn-warning", id: "submit-rsvp"} %></td>
    <%#= link_to 'Join', controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: @event.id, pending: false, confirmed: true}, class: "btn btn-success"%>
  <%# elsif !Rsvp.find_by(event_id: @event.id, guest_id: current_user.id) && @event.approval_required == true %>
    <%#= button_to 'Send Request', controller: "rsvps", action: "create", method: :post, rsvp: {guest_id: current_user.id, event_id: @event.id, pending: true, confirmed: false, class: "btn btn-warning"} %>

  <% elsif Rsvp.find_by(event_id: @event.id, guest_id: current_user.id) && @event.approval_required == false || (@event.approval_required == true && Rsvp.find_by(event_id: @event.id, guest_id: current_user.id).confirmed == true)%>
    <td class="delete-button"><%= button_to 'Unjoin', {controller: "rsvps", action: "destroy", id: Rsvp.find_by(event_id: @event.id, guest_id: current_user.id).id}, method: :delete %></td>
  <% elsif Rsvp.find_by(event_id: @event.id, guest_id: current_user.id) && @event.approval_required == true%>
    <td class="delete-button"><%= button_to 'Cancel Request', {controller: "rsvps", action: "destroy", id: Rsvp.find_by(event_id: @event.id, guest_id: current_user.id).id}, method: :delete %></td>
  <% end %>
<% end %>
</div>

<div class="wat">

<% if user_signed_in? && Rsvp.find_by(event_id: @event.id, guest_id: current_user.id, pending: true)%>
<td><%= "Request pending" %></td>
<% end %>






<section class="host-attendees">

<% if (@event.host.id == current_user.id && @event.time_end.past? == false) || (@event.time_end.past? == false && Rsvp.find_by(event_id: @event.id, guest_id: current_user.id, confirmed: true))%>
  <h2></h2>
    <br />
    Host
    <br />
    <%= link_to image_tag(@event.host.gravatar_url(size: 30)), user_path(@event.host.id) %>
    <br />
    <%= @event.host.username %>
    <br />

    <i class="fa fa-star-o fa-2x"></i><%= Rating.where(ratee_id: @event.host.id).average(:rating).to_f.round(2) %>
    <br />

<% end %>

<% if (@event.host.id == current_user.id && @event.time_end.past? == true) || (@event.time_end.past? == true && Rsvp.find_by(event_id: @event.id, guest_id: current_user.id, confirmed: true))%>

  <h2>People Attended</h2>
   <br />
    Host
    <br />
    <%= link_to image_tag(@event.host.gravatar_url(size: 30)), user_path(@event.host.id) %>
    <br />
   <%= @event.host.username %>
    <br />
    <i class="fa fa-star-o fa-2x"></i><%= Rating.where(ratee_id: @event.host.id).average(:rating).to_f.round(2) %>
    <br />
  <div class="people-attended">
  <% @event.guests.each do |guest| %>
    <% if Rsvp.find_by(event_id: @event.id, guest_id: guest.id, confirmed: true) %>
        <br />
        <%= link_to image_tag(guest.gravatar_url(size: 30)), user_path(guest.id) %>
        <br />
        <%= guest.username %>
        <br />
        <i class="fa fa-star-o fa-2x"></i><%= Rating.where(ratee_id: guest.id).average(:rating).to_f.round(2) %>
        <br />
        <% if !Rating.find_by(event_id: @event.id, rater_id: current_user.id, ratee_id: guest.id) && current_user.id != guest.id%>
          <%= render partial: 'ratings/form', locals: {ratee_id: guest.id} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
<!-- <<<<<<< HEAD -->
</section>
<br />
<br />
<section = "comments-section"
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Public Comments</h3>
     <div class="comments_body">
<!-- ======= -->

<!-- <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Public Comments</h3>
  </div>
  <div class="panel-body"> -->
<!-- >>>>>>> developer -->
    <div class="well">
    <% @event.comments.each do |comment| %>
      <% if comment.is_private == false %>
        <p><strong>"</strong><%= comment.body %><strong>"</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong>-<%= comment.user.username %></strong></p>
        <% if comment.user == current_user %>
        <p><%= link_to 'Edit', edit_comment_path(comment) %> |
            <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<h2 class="add-comment">Add a comment:</h2>
<%= render 'comments/form', locals: {is_private: false} %>
<br>

<% if Rsvp.find_by(event_id: @event.id, guest_id: current_user.id, confirmed: true) || @event.host.id == current_user.id  %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Private Comments</h3>
  <div class="comments_body">
    <div class="well">
    <% @event.comments.each do |comment| %>
      <% if comment.is_private == true %>
        <p><strong>"</strong><%= comment.body %><strong>"</strong></p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;<strong><%= comment.user.username %></strong></p>
        <% if comment.user == current_user %>
        <p><%= link_to 'Edit', edit_comment_path(comment) %> |
            <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<div class="panel-footer">Private: Visible only to guests of this event</div>
</div>
<h2 class="add-comment">Add a private comment:</h2>
<%= render 'comments/form2', locals: {is_private: true} %>
<% end %>

<% else %>
<p>Please log in to see event details</p>
<% end %>
</section>
</section>
<%#= button_to 'Back', events_path, :class => "btn btn-primary" %>