<p id="notice"><%= notice %></p>

<h1>Listing Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Rating</th>
      <th>Rating feedback</th>
      <th>Rater</th>
      <th>Ratee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.event.name %></td>
        <td><%= rating.rating %></td>
        <td><%= rating.rating_feedback %></td>
        <td><%= User.find(rating.rater_id).username %></td>
        <td><%= User.find(rating.ratee_id).username %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <strong>Average Rating</strong>
  <%= @ratings.average(:rating) %>
</p>

<br>

<%= link_to 'New Rating', new_rating_path %>
<%= link_to 'User Profile', user_path(@user) %>