<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @rating.event_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<p>
  <strong>Rating feedback:</strong>
  <%= @rating.rating_feedback %>
</p>

<p>
  <strong>Rater:</strong>
  <%= User.find(@rating.rater_id).username %>
</p>

<p>
  <strong>Ratee:</strong>
  <%= User.find(@rating.ratee_id).username %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
