<%= form_for(@rsvp) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :guest_id %><br>
    <%= f.text_field :guest_id %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :pending %><br>
    <%= f.check_box :pending %>
  </div>
  <div class="field">
    <%= f.label :confirmed %><br>
    <%= f.check_box :confirmed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
