<!DOCTYPE html>
<html>
<head>
  <title>Clutch</title>
  <% favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</head>
 <body>




  <nav class="navbar navbar-default">
      <!-- <div class="container-fluid col-sm-"> -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Clutch</a>
        <!-- </div> -->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Contact", "/home/team" %></li>
            <li>
<% #head %>
              <div class="form-inline" method="get" action="events/search">
              <div class="input-group">
                <!-- <div class="input-group-btn search-panel"> -->

                    <select class="selectpicker" role="menu">
                    <option value="all">All categories</option>
                    <% Event.where(status: true).each do |event| %>
                      <option value="event.category"><%= "#{event.category}" %></option>
                      <% end %>
                    </select>


                <input type="hidden" name="category_param" value="all" id="search_param">
                </li>
                <li>
                <input type="text" class="form-control" name="q" placeholder="Search term...">
              </li>
              <li>
                <span class="input-group-btn">
                    <%= link_to('Search', {controller: "/events", action: "index", page: "index"}, class: "btn btn-success") %>
                </span>
              </li>
                </div>
            </div>
<% #dev %>
            <div class="input-group">
            <%= form_tag(events_path, :method => "get", id: "search-form", html: {class: 'form-group'}) do |f|%>
                <%= text_field_tag :q, params[:q], placeholder: "Search Events", class: "form-control" %>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category <span class="caret"></span></button>
                  <ul class="dropdown-menu dropdown-menu-right">
        </ul>
            </li>
            <li><%= submit_tag "Search", :class => 'btn btn-default',:name => nil%>
                <% end %>
<% #==== %>
          </div>
          </li>
        </div>






<div class="container-narrow">
  <div class="masthead">
    <%= render 'layouts/user_header' %>
    <h3 class="muted"></h3>
    <h5 class="muted"></h5>
  </div>
  <!-- <hr /> -->
       </ul>
         </div>
         </div>

</nav>


<div style="margin-top: 50px;" class="container">
<%= yield %>
</div>

</body>
</html>